<template>
  <div>
    <v-toolbar color="primary" dark>
      <v-toolbar-title>Mortgage Demo</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-menu
        v-model="menu"
        :close-on-content-click="false"
        offset-y
        v-if="$route.name !== 'Register'">
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-icon>mdi-account</v-icon>
          </v-btn>
        </template>

        <v-card>
          <v-card-title>
            {{ usersModule.GetUser.FullName }}
          </v-card-title>
          <v-card-actions>
            <v-btn @click="Logout()" color="secondary">
              Logout
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
    </v-toolbar>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import { UsersModule } from '@/store/users';

@Component({})
export default class HeaderBar extends Vue {
  usersModule = UsersModule;
  menu = false;
  Logout() {
    this.$router.replace('/');
  }
}
</script>

<style>
@import "headerBar.scss";
</style>
