<template>
  <div class="home">
    <v-form ref="form" v-model="isValid">
      <v-container>
        <v-row>
          <v-col cols="12" md="3" sm="6">
            <v-text-field
              v-model="morgageForm.PropertyValue"
              label="Property Value"
              required
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="3" sm="6">
            <v-text-field
              v-model="morgageForm.DepositAmount"
              label="Deposit Amount"
              required
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="3" sm="6">
            <v-btn @click="GetMortgages()">Search</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-form>

     <v-list three-line>
      <template v-for="(mortgage) in mortgagesList">
        <v-list-item
          :key="mortgage.Id"
        >

          <v-list-item-content>
            <v-list-item-title>{{mortgage.Lender}}</v-list-item-title>
            <v-list-item-subtitle>{{mortgage.Type}}</v-list-item-subtitle>
            <v-list-item-subtitle>Loan to Value - {{mortgage.LoanToValue}}%</v-list-item-subtitle>
            <v-list-item-subtitle>Interest Rate - {{mortgage.InterestRate}}%</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>

     <v-snackbar v-if="err"
      v-model="snackbar"
    >
      {{ err.response.data.error }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="pink"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import { MortgageProvider } from '@/classes/mortgageProvider/mortgageProvider';
import { MortgageSearch } from '@/classes/mortgageProvider/mortgageSearch';
import { MortgageProviderService } from '@/services/mortgageProvider/mortgageProviderService';
import { UsersModule } from '@/store/users';
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {
  },
})
export default class Home extends Vue {
    usersModule = UsersModule;
    mortgageProviderService = new MortgageProviderService();
    mortgagesList: Array<MortgageProvider> = [];
    morgageForm = new MortgageSearch()
    isValid = false;
    snackbar = false;
    err = null;

    GetMortgages() {
      if (this.isValid) {
        (this.$refs.form as any).validate();
      }

      this.morgageForm.UserId = this.usersModule.GetUser.Id;

      this.mortgageProviderService.GetMortgageProviders(this.morgageForm).then((mortgages) => {
        this.mortgagesList = mortgages;
      }, (err) => {
        this.snackbar = true;
        this.err = err;
      });
    }
}
</script>
