<template>
  <div class="register">
    <v-form ref="form" v-model="isValid">
      <v-container>
        <v-row>
          <v-col cols="12" md="3" sm="6">
            <v-text-field
              v-model="user.FirstName"
              label="First name"
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="3" sm="6">
            <v-text-field
              v-model="user.LastName"
              label="Last name"
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="3" sm="6">
            <v-text-field
              v-model="user.Email"
              :rules="emailRules"
              label="E-mail"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="3" sm="6">
            <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="user.DateOfBirth"
                  prepend-icon="mdi-calendar"
                  readonly
                  label="Date of Birth"
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="user.DateOfBirth" no-title scrollable @change="menu = false">
              </v-date-picker>
            </v-menu>
          </v-col>
            <v-btn @click="RegisterUser()">Save</v-btn>

        </v-row>
      </v-container>
    </v-form>
  </div>
</template>

<script lang="ts">
import { User } from '@/classes/users/users';
import { UserService } from '@/services/userService/userService';
import { UsersModule } from '@/store/users';
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {},
})
export default class Register extends Vue {
  userService = new UserService();
  usersModule = UsersModule;
  menu = false;
  user = new User();
  isValid = false;

  emailRules = [
    (v: any) => !!v || 'E-mail is required',
    (v: any) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
  ];

  mounted() {
    // this.userService.CreateUser(this.user).then((userReturn) => {
    //   this.usersModule.SetUser(userReturn);
    // });
  }

  RegisterUser() {
    if (!this.isValid) {
      (this.$refs.form as any).validate();
      return;
    }
    this.userService.CreateUser(this.user).then((userId) => {
      this.user.Id = userId;
      this.usersModule.SetUser(this.user);
      this.$router.replace('/Home');
    });
  }
}
</script>
