<template>
  <v-app>
    <header-bar></header-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HeaderBar from '@/components/headerBar/headerBar.vue'; // @ is an alias to /src

@Component({
  components: {
    HeaderBar,
  },
})
export default class App extends Vue {}
</script>
